*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.grid-container{
	display: grid;
	// grid-template-columns: repeat(3, 200px); Обычный способ
	grid-template-columns: repeat(3, minmax(150px, 300px));/*Если блоков немного, то можно использовать auto-fit, нужен для того, чтобы блоки занимали все пространство, что имеется, с auto-fill так не получится, Блоки просто займут место, но если останется свободное, то они его не заполнят*/
	grid-template-rows: repeat(3, minmax(100px, auto));/*Если у контейнера не будет контента, что будет вылазить за рамки, то он будет занимать минимальную ширину*/
	grid-auto-rows: minmax(100px, auto);/*Делать асвтоматической максиммальную величину нужно делать в тех случаях, когда неизвестно, сколько контента будет помещаться*/
	gap: 10px;


}

.grid-elem{
	// height: 50px;
	background-color: rgba(1, 1, 96, 1);
	color: #fff;
	line-height: 50px;
	text-align: center;
	font-size: 26px;
	border: 1px solid #000;
	border-radius: 4px;
}

#first{
	grid-column: 1/3; /*Сокращенная форма записи позиционирования*/
}

#second{
	grid-row: 3/4;
	grid-column: 2;
}

#third{
	grid-row: 2/4;
	grid-column: 3;
}